<div class="container" style="margin-top: 10px;">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Role Name</th>
                <th>Mobile Number</th>
                <th>Social Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>john&#64;example.com</td>
                <td>123 Main St, City</td>
                <td>Manager</td>
                <td>123-456-7890</td>
                <td>&#64;johndoe</td>
                <td class="actions">
                    <button class="action-button"> <a href="details" style="color: white;">View</a></button>
                </td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>john&#64;example.com</td>
                <td>123 Main St, City</td>
                <td>Manager</td>
                <td>123-456-7890</td>
                <td>&#64;johndoe</td>
                <td class="actions">
                    <button class="action-button" >
                        <a href="details" style="color: white;">View</a>
                        </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

