<div>
    <div class="container">
      <div class="related-images">
        <img class="image" src="https://i.pinimg.com/originals/3d/ad/13/3dad1341a362b575acc672fdc874f4d7.jpg">
        <img class="image" src="https://i.pinimg.com/originals/3d/ad/13/3dad1341a362b575acc672fdc874f4d7.jpg">
        <img class="image" src="https://i.pinimg.com/originals/3d/ad/13/3dad1341a362b575acc672fdc874f4d7.jpg">
        <img class="image" src="https://i.pinimg.com/originals/3d/ad/13/3dad1341a362b575acc672fdc874f4d7.jpg">
        <img class="image" src="https://i.pinimg.com/originals/3d/ad/13/3dad1341a362b575acc672fdc874f4d7.jpg">
      </div>
      <div class="main-image">
        <img class="mainimage" [src]="mainImageSrc" alt="Main Image">
      </div>
    </div>
  </div>
  