<div class="container" style="overflow-x: hidden;">
  <h4 class="Socialmedia">SHOP BY CATEGORY</h4>
  <div class="row">
    <div style="text-align: center">
      <a href="men">
        <img
          class="image"
          src="https://media.istockphoto.com/id/1217448130/vector/fashion-show-poster-with-cartoon-model-women-walking-on-catwalk-podium.jpg?s=612x612&w=0&k=20&c=SHTBYg_WLcR86BnXE0TaTZ8ZihHXdwaj3cys-NKoakM="
          alt="Women's Casual Shirts"
        />
        <p class="textheading">Women's Casual Shirts</p>
      </a>
    </div>

    <div style="text-align: center">
      <a href="men">
        <img
          class="image"
          src="https://assets.myntassets.com/f_auto,q_auto:eco,dpr_1.3,w_412,c_limit,fl_progressive/assets/images/2024/1/12/9bbad7a2-fb15-4c81-bf9a-646aed7dda381705071085952-compressed_10721_0.jpg"
          alt="Men's Formal Shirts"
        />
        <p class="textheading">Men's Formal Shirts</p>
      </a>
    </div>

    <div style="text-align: center">
      <a href="men">
        <img
          class="image"
          src="https://thumbs.dreamstime.com/b/models-walk-runway-nike-levi-s-kids-fashion-show-mercedes-benz-fashion-week-fall-new-york-ny-february-lincoln-51215358.jpg"
          alt="Kids's T-Shirts"
        />
        <p class="textheading">Kids's T-Shirts</p>
      </a>
    </div>
  </div>
</div>
