<body class="card">
  <div class="container" style="margin-top: 2%">

    <div class="cardlogin">
      <div class="radio_buttons">
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" />
          <input type="radio" name="gender" id="dot-2" />
          <input type="radio" name="gender" id="dot-3" />
          <span class="gender-title">Select yours</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Designer</span>
            </label>
            <label for="dot-2" style="margin-left: 20px !important">
              <span class="dot two"></span>
              <span class="gender">Designer</span>
            </label>
            <label for="dot-3" style="margin-left: 20px !important">
              <span class="dot three"></span>
              <span class="gender">User</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label>Name :</label>
            </div>
            <div class="col-md-9">
              <input type="text" mandatory />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Password :</label>
            </div>
            <div class="col-md-9">
              <input type="password" mandatory />
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>City :</label>
            </div>
            <div class="col-md-9">
              <select mandatory>
                <option value="0">--Select--</option>

                <option>city.Name</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Contact Name:</label>
            </div>
            <div class="col-md-9">
              <input type="password" mandatory />
            </div>
          </div>


          <div class="row">
            <div class="col-md-3">
              <label>Social Media:</label>
            </div>
            <div class="col-md-9">
              <select mandatory>
                <option value="0">--Select--</option>
                <option>Instagram</option>
              </select>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label>Mobile</label>
            </div>
            <div class="col-md-9">
              <input type="text" mandatory />
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Email</label>
            </div>
            <div class="col-md-9">
              <input type="text" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Branch</label>
            </div>
            <div class="col-md-9">
              <input type="text" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Address</label>
            </div>
            <div class="col-md-9">
              <input type="text" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>upload</label>
            </div>
            <div class="col-md-9">
               <input type="file" >
            </div>
          </div>
        </div>
      </div>

      <div class="row submit_button">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>

    <!-- <div class="row">
      <div class="row-cols-6">
        <label>City</label>
        <select mandatory>
          <option value="0">--Select--</option>

          <option>city.Name</option>
        </select>
       
      </div>
    </div>
    <div class="row">
      <div class="row-cols-6">
        <label>Contact Name</label>
        <input type="text" mandatory />
        <label>Address</label>
      </div>
    </div>
    <div class="row">
      <div class="row-cols-6">
        <label>Social Media</label>
        <select>
          <option value="0">--Select--</option>

          <option>media</option>
        </select>
        <label>Id</label>
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="row-col-6">
        <input type="file" name="file" id="" />
      </div>
    </div> -->
  </div>
</body>
